<p id="notice"><%= notice %></p>

<h2 class="header-h2">My Todo Lists</h2>

<% @todo_lists.each do |todo_list| %>
  <div class="list">
    <%= link_to todo_list do %>
      <div class="list-content">
        <h2><%= todo_list.title %></h2>
        <p><%= todo_list.description %></p>
      </div>
    <% end %>
      <div class="list-links">
        <%= link_to edit_todo_list_path(todo_list) do %>
          <div class="edit">
            <p>Edit List Description</p>
          </div>
        <% end %>

        <%= link_to todo_list, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <div class="delete">
            <p>Delete List</p>
          </div>
        <% end %>
      </div>
  </div>
<% end %>
<br>

<div class="new-todo">
  <%= link_to new_todo_list_path do%>
    <button class="btn btn-default" id="new-todo" type="submit">New Todo List</button>
  <% end %>
</div>
