<p id="notice"><%= notice %></p>

<div class="list">
    <h2>
      <%= @todo_list.title %>
    </h2>

    <p>
      <%= @todo_list.description %>
    </p>
</div>


<!-- display todo_items -->
<div id="todo_items_wrapper">
    <!-- renders the todo_item partial -->
    <%= render @todo_list.todo_items %>
        <div id="form">
            <!-- render the form partial -->
            <%= render "todo_items/form" %>
        </div>
</div>

<div class="nav-todo-list">
    <div class="edit-todo">
      <%= link_to  edit_todo_list_path(@todo_list)  do%>
        <button class="btn btn-default" id="edit-todo" type="submit">Edit Todo List</button>
      <% end %>
    </div>

    <div class="back-to-main">
      <%= link_to  todo_lists_path  do%>
        <button class="btn btn-default" id="back-to-main" type="submit">Back</button>
      <% end %>
    </div>
</div>


