<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @todo_list.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @todo_list.description %>
</p>


<!-- display todo_items -->
<div id="todo_items_wrapper">
    <!-- renders the todo_item partial -->
    <%= render @todo_list.todo_items %>
        <div id="form">
            <!-- render the form partial -->
            <%= render "todo_items/form" %>
        </div>
</div>


<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path %>
